<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eminem</title>
    <link rel="stylesheet" href="./assets/fonts/style.css" />
    <link rel="stylesheet" href="./styles/main.css" />
  </head>
  <body>
    <header class="header-menu">
      <nav class="container-nav">
        <a href="#home" class="logo">Emi<span class="logo-color">nem</span></a>

        <div class="menu">
          <ul>
            <li><a href="#home">Início</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#albun">Álbuns</a></li>
            <li><a href="#movies">Filmes</a></li>
            <li><a href="#social">Redes Sociais</a></li>
          </ul>
        </div>

        <i class="toggle icon-menu"></i>
        <i class="toggle icon-close"></i>
      </nav>
    </header>
    <main class="container">
      <section id="home">
        <article class="container-content">
          <header>
            <h1>Eminem</h1>
          </header>
          <div class="content"></div>
        </article>
      </section>

      <section id="about">
        <article class="container-content">
          <header>
            <h2>Sobre</h2>
          </header>
          <div class="content"></div>
        </article>
      </section>

      <section id="albun">
        <article class="container-content">
          <header>
            <h2>Álbuns</h2>
          </header>
          <div class="content"></div>
        </article>
      </section>

      <section id="movies">
        <article class="container-content">
          <header>
            <h2>Filmes</h2>
          </header>
          <div class="content"></div>
        </article>
      </section>

      <section id="social">
        <article class="container-content">
          <header>
            <h2>Redes Sociais</h2>
          </header>
          <div class="content"></div>
        </article>
      </section>
    </main>

    <script src="./js/main.js"></script>
  </body>
</html>
